/*-----------------------------------*\
 * #CUSTOM PROPERTIES
\*-----------------------------------*/

:root {
    /*COLORS - PRIMARY*/
    --clr-mod-violet: hsl(263, 55%, 52%);
    --clr-d-grayish-blue: hsl(217, 19%, 35%);
    --clr-d-blackish-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    /*COLORS - NEUTRAL*/
    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-grayish-blue: hsl(210, 46%, 95%);
    /* TYPOGRAPHY */
    --ff-body: 'Barlow Semi Condensed', sans-serif;
    --fs-body: 0.8125rem;
    --fw-500: 500;
    --fw-600: 600;
    /*BORDERS*/
    --border-radius: 0.5rem;
}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

/* Box sizing rules */
html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-----------------------------------*\
 * #BASE
\*-----------------------------------*/

body {
    background: var(--clr-grayish-blue);
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 1.5rem;
}

.footer {
    position: sticky;
    top: 100vh;
    width: 100%;
    padding: 1rem;
    border-top: solid 1px #cacacd;
    font-size: 1rem;
    text-align: center; 
    background: var(--clr-mod-violet);
    color: #fff;
}

.link {
    color: yellow;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: yellowgreen;
  left: 0;
  bottom: 0;
}

.link:hover::after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: yellowgreen;
}

.link:focus-visible {
  outline-offset: 0.0625rem;
  outline: 0.15rem dotted #fff;
}

/*-----------------------------------*\
 * #COMPONENTS
\*-----------------------------------*/

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.cards-wrapper {
    display: grid;
    gap: 1.6rem;
    max-width: 69rem;
}

.card {
    max-width: 20rem;
    padding: 1.5rem 2rem 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 20px rgb(0, 0, 0, 25%);
}

.card__author {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 0.6rem;
}

.card--violet {
    background: url(../images/bg-pattern-quotation.svg), var(--clr-mod-violet);
    background-repeat: no-repeat;
    background-position-x: 85%;
    color: var(--clr-white);
}

.card--grey {
    background: var(--clr-d-grayish-blue);
    color: var(--clr-white);
}

.card--white,
.card--white-big {
    background: var(--clr-white);
    color: var(--clr-d-grayish-blue);
}

.card--dark-grey {
    background: var(--clr-d-blackish-blue);
    color: var(--clr-white);
}

.card__user-img {
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    border: solid 2px transparent;
}

.user-img--daniel {
    border: solid 2px hsl(263, 53%, 66%);
}

.user-img--patrick {
    border: solid 2px var(--clr-mod-violet);
}

.card__user-status {
  opacity: 50%;
  font-size: 0.7125rem;
  font-weight: var(--fw-500);
}

.card__testimonial {
  opacity: 70%;
  margin-right: 0.2rem;
}

.card__heading {
  margin-bottom: 1.1rem;
  line-height: 1.2;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

@media only screen and (min-width: 48em) {
  .cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    max-width: 25rem;
  }

  .card--white-big {
    grid-column: span 2;
    justify-self: center;
  }
}

@media only screen and (min-width: 82em) {
  .cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "violet-card violet-card grey-card white-big"
    "white-card dark-card dark-card white-big"
  }

  .card--violet {
    grid-area: violet-card;
}

  .card--grey {
      grid-area: grey-card;
  }

  .card--white {
    grid-area: white-card;
  }

  .card--white-big {
    grid-area: white-big;
  }

  .card--dark-grey {
      grid-area: dark-card;
  }

  .card {
    max-width: none;
  }

}